@model List<Player_Celebrity_Roster>

@{
    ViewData["Title"] = "My Celebrity Roster";
}
<h1>@ViewData["Title"]</h1>
<style>
    th {
        text-align: center;
    }

    th, td {
        padding: 0px 6px;
    }

    .c {
        text-align: center;
    }

    .r {
        text-align: right;
    }

    .b {
        font-weight: bold;
    }
</style>

<p>@TempData["PlayerCelebrityUserMsg"]</p>

<a class="nav-link text-dark" asp-area="CelebrityDeathPool" asp-controller="Celebrity" asp-action="Create">Add New Celebrity</a>
<a class="nav-link text-dark" asp-area="CelebrityDeathPool" asp-controller="CelebrityType" asp-action="Index">View Celebrity Types</a>


@if (Model.Count > 0)
{
    <section title="My Celebrity Roster" style="width: 100%">
        <table id="tblRoster" class="tblListView display">
            <thead>
                <tr>
                    <th>Celebrity</th>
                    <th>Type</th>
                    <th>Birth Date</th>
                    <th>Age</th>
                    <th>Death Date</th>
                    <th>Potential Points</th
                    <th>Points Won</th>
                    <th>Action</th>
                 </tr>
            </thead>
            <tbody>
                @{
                    var altRow = false;
                    @foreach (Player_Celebrity_Roster player_celebrity in Model)
                    {
                        //@if(player_celebrity.is_winner == false)
                        //{
                        <tr style="background-color:@(altRow ? "#fff" : "#E0EBEB");">
                            <td class="b">
                                @(player_celebrity.celebrity.celebrity_name)
                            </td>
                            <td>
                                @(player_celebrity.celebrity.lk_celebrity_type.celebrity_type)
                            </td>
                            <td class="r">
                                @($"{player_celebrity.celebrity.birth_date:MM/dd/yyyy}")
                            </td>
                            <td class="c">
                                @(player_celebrity.celebrity.age)
                            </td>
                            <td class="r">
                                @($"{player_celebrity.celebrity.death_date:MM/dd/yyyy}")
                            </td>
                            <td class="c">
                                @(player_celebrity.celebrity.points)
                            </td>
                            <td class="c">
                                @( (player_celebrity.is_winner == true ?  player_celebrity.celebrity.points : 0) )
                            </td>
                            <td class="c">
                                <a class="nav-link text-dark" asp-area="CelebrityDeathPool" asp-controller="Celebrity" asp-action="Edit" asp-route-id="@(player_celebrity.player_celebrity_key)">Edit</a>
                            </td>
                        </tr>
                        //}
                        altRow = !altRow;
                    }
                }
            </tbody>
        </table>
    </section>
}
else
{
    <p>No celebrities found in your roster.</p>
}